In [1]:
#import the pandas and numpy packages
import pandas as pd
import numpy as np

In [2]:
#read the raw data file into pandas dataframe
df1 = pd.read_csv(r"C:\Users\okokoye\Dropbox\My PC (STU-PF23DA6E)\Downloads\UK-HPI-full-file-2021-11.csv")

In [3]:
#explore the data structure and shape 
df1.describe()

,AveragePrice,Index,IndexSA,1m%Change,12m%Change,AveragePriceSA,SalesVolume,DetachedPrice,DetachedIndex,Detached1m%Change,...,NewPrice,NewIndex,New1m%Change,New12m%Change,NewSalesVolume,OldPrice,OldIndex,Old1m%Change,Old12m%Change,OldSalesVolume
count,1.344080e+05,134408.000000,4509.000000,133965.000000,129368.000000,4509.000000,129909.000000,1.281840e+05,128184.000000,127775.000000,...,1.276950e+05,127695.000000,127285.000000,122799.000000,127307.000000,1.276980e+05,127698.000000,127288.000000,122802.000000,127684.000000
mean,1.655657e+05,80.129701,82.661908,0.575503,6.564140,156208.358568,1213.812738,2.915442e+05,81.524398,0.520323,...,1.977202e+05,81.873002,0.555980,6.697792,128.468327,1.670588e+05,80.681529,0.509466,6.453215,1098.803280
std,1.113781e+05,34.344136,31.516506,2.009677,8.989960,80342.040704,7570.002443,2.519487e+05,32.372276,1.767931,...,1.156410e+05,33.533058,1.830418,8.474961,817.647263,1.103867e+05,32.393242,1.791515,8.746179,6828.603681
min,2.712016e+03,1.096815,18.312610,-30.297781,-35.786566,40405.313840,1.000000,4.064610e+04,12.494361,-19.628465,...,2.722990e+04,9.708894,-29.816368,-28.851244,0.000000,2.278638e+04,10.097461,-30.587732,-30.341125,1.000000
25%,9.281588e+04,46.116076,55.977850,-0.434652,1.428571,107128.377000,139.000000,1.619735e+05,51.262763,-0.447219,...,1.195408e+05,50.367795,-0.452308,1.795991,9.000000,9.594737e+04,48.513095,-0.450010,1.341557,125.000000
50%,1.456601e+05,88.325823,89.742660,0.529362,5.514084,147467.017600,214.000000,2.349786e+05,87.862567,0.502820,...,1.818930e+05,88.078229,0.545187,5.715457,20.000000,1.464216e+05,88.519180,0.496626,5.403239,192.000000
75%,2.076833e+05,105.184658,105.299028,1.525831,10.782014,192154.302200,373.000000,3.385458e+05,104.426792,1.491596,...,2.461595e+05,104.779490,1.556474,11.133955,44.000000,2.073887e+05,104.600405,1.464911,10.648151,337.000000
max,1.463378e+06,221.485238,147.296789,37.734640,98.437940,520119.936500,146470.000000,4.145421e+06,197.988967,34.812357,...,1.334270e+06,189.194400,38.528267,96.170727,21097.333330,1.479584e+06,207.478740,37.545204,98.648458,136069.000000

In [4]:
df1.head(40)

,Date,RegionName,AreaCode,AveragePrice,Index,IndexSA,1m%Change,12m%Change,AveragePriceSA,SalesVolume,...,NewPrice,NewIndex,New1m%Change,New12m%Change,NewSalesVolume,OldPrice,OldIndex,Old1m%Change,Old12m%Change,OldSalesVolume
0,01/01/2004,Aberdeenshire,S12000034,81693.66964,40.864214,NaN,NaN,NaN,NaN,388.0,...,88436.13953,40.267250,NaN,NaN,103.0,81043.95084,40.883367,NaN,NaN,285.0
1,01/02/2004,Aberdeenshire,S12000034,81678.76231,40.856757,NaN,-0.018248,NaN,NaN,326.0,...,88606.44649,40.344795,0.192576,NaN,107.0,80965.29542,40.843688,-0.097053,NaN,219.0
2,01/03/2004,Aberdeenshire,S12000034,83525.09702,41.780317,NaN,2.260483,NaN,NaN,453.0,...,90296.91375,41.114508,1.907838,NaN,140.0,82903.23948,41.821302,2.393549,NaN,313.0
3,01/04/2004,Aberdeenshire,S12000034,84333.67900,42.184780,NaN,0.968071,NaN,NaN,571.0,...,90319.87844,41.124964,0.025432,NaN,180.0,84003.99161,42.376586,1.327755,NaN,391.0
4,01/05/2004,Aberdeenshire,S12000034,86379.95396,43.208353,NaN,2.426403,NaN,NaN,502.0,...,91989.17763,41.885039,1.848208,NaN,167.0,86222.73484,43.495852,2.641235,NaN,335.0
5,01/06/2004,Aberdeenshire,S12000034,89267.61305,44.652797,NaN,3.342974,NaN,NaN,525.0,...,94964.60319,43.239827,3.234539,NaN,164.0,89139.77924,44.967382,3.383150,NaN,361.0
6,01/07/2004,Aberdeenshire,S12000034,93047.50105,46.543545,NaN,4.234333,NaN,NaN,652.0,...,98682.59954,44.932726,3.915139,NaN,163.0,93022.86929,46.926242,4.356181,NaN,489.0
7,01/08/2004,Aberdeenshire,S12000034,97790.66757,48.916137,NaN,5.097575,NaN,NaN,512.0,...,103223.74280,47.000426,4.601767,NaN,130.0,97937.62146,49.405534,5.283381,NaN,382.0
8,01/09/2004,Aberdeenshire,S12000034,98663.95545,49.352967,NaN,0.893018,NaN,NaN,497.0,...,103855.90760,47.288267,0.612422,NaN,142.0,98913.87933,49.898016,0.996816,NaN,355.0
9,01/10/2004,Aberdeenshire,S12000034,99083.88349,49.563020,NaN,0.425614,NaN,NaN,590.0,...,104867.86010,47.749035,0.974381,NaN,164.0,99131.45382,50.007774,0.219964,NaN,426.0
10,01/11/2004,Aberdeenshire,S12000034,99429.22374,49.735764,NaN,0.348533,NaN,NaN,516.0,...,105917.41240,48.226923,1.000833,NaN,149.0,99235.89196,50.060459,0.105353,NaN,367.0
11,01/12/2004,Aberdeenshire,S12000034,100501.10800,50.271934,NaN,1.078037,NaN,NaN,465.0,...,107810.81440,49.089038,1.787621,NaN,151.0,100044.01820,50.468125,0.814349,NaN,314.0
12,01/01/2005,Aberdeenshire,S12000034,101818.93310,50.931127,NaN,1.311254,24.635034,NaN,400.0,...,110316.43510,50.229911,2.324090,24.741351,42.0,100978.67930,50.939624,0.934250,24.597429,358.0
13,01/02/2005,Aberdeenshire,S12000034,97626.00076,48.833768,NaN,-4.118028,19.524339,NaN,289.0,...,106585.65770,48.531192,-3.381887,20.291087,52.0,96558.90015,48.710026,-4.376943,19.259616,237.0
14,01/03/2005,Aberdeenshire,S12000034,94779.34241,47.409834,NaN,-2.915881,13.474088,NaN,435.0,...,103578.41430,47.161917,-2.821433,14.708698,91.0,93662.15635,47.248737,-2.999976,12.977680,344.0
15,01/04/2005,Aberdeenshire,S12000034,95847.70590,47.944243,NaN,1.127211,13.652940,NaN,499.0,...,104801.79810,47.718955,1.181118,16.034034,81.0,94708.33337,47.776490,1.116969,12.742658,418.0
16,01/05/2005,Aberdeenshire,S12000034,101744.46620,50.893877,NaN,6.152218,17.787127,NaN,515.0,...,111125.93580,50.598498,6.034379,20.803271,82.0,100556.18030,50.726490,6.174585,16.623743,433.0
17,01/06/2005,Aberdeenshire,S12000034,106714.16780,53.379785,NaN,4.884493,19.544104,NaN,561.0,...,116415.69990,53.007063,4.760153,22.588518,136.0,105491.82920,53.216324,4.908350,18.344279,425.0
18,01/07/2005,Aberdeenshire,S12000034,108428.50590,54.237319,NaN,1.606477,16.530272,NaN,581.0,...,118105.67060,53.776550,1.451669,19.682367,88.0,107217.54010,54.086875,1.635872,15.259335,493.0
19,01/08/2005,Aberdeenshire,S12000034,111980.30480,56.013974,NaN,3.275706,14.510216,NaN,564.0,...,121879.47290,55.494860,3.195276,18.073100,63.0,110746.03050,55.866854,3.290964,13.078130,501.0
20,01/09/2005,Aberdeenshire,S12000034,113651.45580,56.849905,NaN,1.492361,15.190452,NaN,577.0,...,124019.58670,56.469309,1.755926,19.415053,87.0,112343.08060,56.672501,1.442083,13.576660,490.0
21,01/10/2005,Aberdeenshire,S12000034,116656.63800,58.353135,NaN,2.644209,17.735230,NaN,581.0,...,127615.78990,58.106752,2.899706,21.691994,94.0,115259.21980,58.143574,2.595744,16.269070,487.0
22,01/11/2005,Aberdeenshire,S12000034,115468.34780,57.758738,NaN,-1.018622,16.131197,NaN,558.0,...,126470.77260,57.585397,-0.897238,19.405081,94.0,114058.48770,57.537854,-1.041767,14.936729,464.0
23,01/12/2005,Aberdeenshire,S12000034,115853.26550,57.951278,NaN,0.333353,15.275610,NaN,481.0,...,126905.97950,57.783557,0.344117,17.711734,101.0,114436.35710,57.728473,0.331294,14.386006,380.0
24,01/01/2006,Aberdeenshire,S12000034,111351.61130,55.699494,NaN,-3.885652,9.362383,NaN,395.0,...,122002.52590,55.550889,-3.863848,10.593246,44.0,109985.04010,55.482965,-3.889775,8.919072,351.0
25,01/02/2006,Aberdeenshire,S12000034,109548.09850,54.797354,NaN,-1.619656,12.212011,NaN,336.0,...,120318.93960,54.784309,-1.379960,12.884737,68.0,108153.44500,54.559000,-1.665313,12.007743,268.0
26,01/03/2006,Aberdeenshire,S12000034,111550.90850,55.799185,NaN,1.828247,17.695381,NaN,471.0,...,122412.87390,55.737731,1.740320,18.183769,96.0,110149.85550,55.566108,1.845906,17.603373,375.0
27,01/04/2006,Aberdeenshire,S12000034,119300.58720,59.675673,NaN,6.947213,24.468902,NaN,451.0,...,130541.54030,59.438922,6.640369,24.560401,68.0,117867.41580,59.459302,7.006419,24.453057,383.0
28,01/05/2006,Aberdeenshire,S12000034,126785.62640,63.419784,NaN,6.274101,24.611815,NaN,495.0,...,138076.47020,62.869769,5.772055,24.252245,90.0,125376.48770,63.247323,6.370778,24.683025,405.0
29,01/06/2006,Aberdeenshire,S12000034,129099.18470,64.577056,NaN,1.824780,20.976612,NaN,625.0,...,139790.23480,63.650090,1.241171,20.078507,144.0,127806.69850,64.473265,1.938331,21.153173,481.0
30,01/07/2006,Aberdeenshire,S12000034,129425.56670,64.740316,NaN,0.252815,19.364890,NaN,520.0,...,139482.26900,63.509866,-0.220306,18.099553,66.0,128246.23730,64.694994,0.343909,19.613113,454.0
31,01/08/2006,Aberdeenshire,S12000034,131974.06620,66.015108,NaN,1.969085,17.854712,NaN,587.0,...,141311.51100,64.342767,1.311451,15.943651,76.0,130934.21630,66.050970,2.095952,18.229264,511.0
32,01/09/2006,Aberdeenshire,S12000034,137735.69760,68.897149,NaN,4.365730,21.191318,NaN,569.0,...,147633.34930,67.221262,4.473690,19.040349,77.0,136623.25360,68.920857,4.344958,21.612522,492.0
33,01/10/2006,Aberdeenshire,S12000034,140436.11210,70.247931,NaN,1.960577,20.384159,NaN,572.0,...,150205.17090,68.392279,1.742033,17.701086,101.0,139359.37260,70.301118,2.002674,20.909523,471.0
34,01/11/2006,Aberdeenshire,S12000034,140008.62730,70.034098,NaN,-0.304398,21.252819,NaN,551.0,...,149479.42820,68.061829,-0.483168,18.192864,96.0,138983.48450,70.111498,-0.269726,21.852821,455.0
35,01/12/2006,Aberdeenshire,S12000034,139228.54220,69.643889,NaN,-0.557169,20.176623,NaN,480.0,...,148198.28960,67.478494,-0.857067,16.778020,101.0,138289.28140,69.761300,-0.499486,20.843834,379.0
36,01/01/2007,Aberdeenshire,S12000034,145371.47530,72.716663,NaN,4.412122,30.551748,NaN,361.0,...,155348.30170,70.734079,4.824625,27.332037,39.0,144281.99980,72.784382,4.333466,31.183295,322.0
37,01/02/2007,Aberdeenshire,S12000034,145173.77080,72.617768,NaN,-0.136000,32.520576,NaN,323.0,...,155398.86500,70.757101,0.032548,29.155780,78.0,144054.63260,72.669685,-0.157585,33.194678,245.0
38,01/03/2007,Aberdeenshire,S12000034,147712.66070,73.887753,NaN,1.748863,32.417264,NaN,494.0,...,157628.16940,71.772161,1.434569,28.767640,111.0,146694.25370,74.001266,1.832375,33.176982,383.0
39,01/04/2007,Aberdeenshire,S12000034,149698.75710,74.881224,NaN,1.344567,25.480319,NaN,462.0,...,158178.76160,72.022860,0.349298,21.171208,88.0,148989.82740,75.159289,1.564870,26.404593,374.0

In [5]:
#compute the missing values

missing_data = df1.isnull()
missing_data.head(5)

,Date,RegionName,AreaCode,AveragePrice,Index,IndexSA,1m%Change,12m%Change,AveragePriceSA,SalesVolume,...,NewPrice,NewIndex,New1m%Change,New12m%Change,NewSalesVolume,OldPrice,OldIndex,Old1m%Change,Old12m%Change,OldSalesVolume
0,False,False,False,False,False,True,True,True,True,False,...,False,False,True,True,False,False,False,True,True,False
1,False,False,False,False,False,True,False,True,True,False,...,False,False,False,True,False,False,False,False,True,False
2,False,False,False,False,False,True,False,True,True,False,...,False,False,False,True,False,False,False,False,True,False
3,False,False,False,False,False,True,False,True,True,False,...,False,False,False,True,False,False,False,False,True,False
4,False,False,False,False,False,True,False,True,True,False,...,False,False,False,True,False,False,False,False,True,False

In [6]:
#compute the missing values for each column
for column in missing_data.columns.values.tolist():
    print(column)
    print(missing_data[column].value_counts())
    print("")

Date
False    134408
Name: Date, dtype: int64

RegionName
False    134408
Name: RegionName, dtype: int64

AreaCode
False    134408
Name: AreaCode, dtype: int64

AveragePrice
False    134408
Name: AveragePrice, dtype: int64

Index
False    134408
Name: Index, dtype: int64

IndexSA
True     129899
False      4509
Name: IndexSA, dtype: int64

1m%Change
False    133965
True        443
Name: 1m%Change, dtype: int64

12m%Change
False    129368
True       5040
Name: 12m%Change, dtype: int64

AveragePriceSA
True     129899
False      4509
Name: AveragePriceSA, dtype: int64

SalesVolume
False    129909
True       4499
Name: SalesVolume, dtype: int64

DetachedPrice
False    128184
True       6224
Name: DetachedPrice, dtype: int64

DetachedIndex
False    128184
True       6224
Name: DetachedIndex, dtype: int64

Detached1m%Change
False    127775
True       6633
Name: Detached1m%Change, dtype: int64

Detached12m%Change
False    123300
True      11108
Name: Detached12m%Change, dtype: int64

SemiDetachedPrice
False    128195
True       6213
Name: SemiDetachedPrice, dtype: int64

SemiDetachedIndex
False    128195
True       6213
Name: SemiDetachedIndex, dtype: int64

SemiDetached1m%Change
False    127786
True       6622
Name: SemiDetached1m%Change, dtype: int64

SemiDetached12m%Change
False    123311
True      11097
Name: SemiDetached12m%Change, dtype: int64

TerracedPrice
False    128222
True       6186
Name: TerracedPrice, dtype: int64

TerracedIndex
False    128222
True       6186
Name: TerracedIndex, dtype: int64

Terraced1m%Change
False    127813
True       6595
Name: Terraced1m%Change, dtype: int64

Terraced12m%Change
False    123338
True      11070
Name: Terraced12m%Change, dtype: int64

FlatPrice
False    128518
True       5890
Name: FlatPrice, dtype: int64

FlatIndex
False    128518
True       5890
Name: FlatIndex, dtype: int64

Flat1m%Change
False    128108
True       6300
Name: Flat1m%Change, dtype: int64

Flat12m%Change
False    123622
True      10786
Name: Flat12m%Change, dtype: int64

CashPrice
True     85856
False    48552
Name: CashPrice, dtype: int64

CashIndex
True     85856
False    48552
Name: CashIndex, dtype: int64

Cash1m%Change
True     86262
False    48146
Name: Cash1m%Change, dtype: int64

Cash12m%Change
True     90728
False    43680
Name: Cash12m%Change, dtype: int64

CashSalesVolume
True     86673
False    47735
Name: CashSalesVolume, dtype: int64

MortgagePrice
True     85856
False    48552
Name: MortgagePrice, dtype: int64

MortgageIndex
True     85856
False    48552
Name: MortgageIndex, dtype: int64

Mortgage1m%Change
True     86262
False    48146
Name: Mortgage1m%Change, dtype: int64

Mortgage12m%Change
True     90728
False    43680
Name: Mortgage12m%Change, dtype: int64

MortgageSalesVolume
True     86672
False    47736
Name: MortgageSalesVolume, dtype: int64

FTBPrice
True     85460
False    48948
Name: FTBPrice, dtype: int64

FTBIndex
True     85460
False    48948
Name: FTBIndex, dtype: int64

FTB1m%Change
True     85866
False    48542
Name: FTB1m%Change, dtype: int64

FTB12m%Change
True     90332
False    44076
Name: FTB12m%Change, dtype: int64

FOOPrice
True     85856
False    48552
Name: FOOPrice, dtype: int64

FOOIndex
True     85856
False    48552
Name: FOOIndex, dtype: int64

FOO1m%Change
True     86262
False    48146
Name: FOO1m%Change, dtype: int64

FOO12m%Change
True     90728
False    43680
Name: FOO12m%Change, dtype: int64

NewPrice
False    127695
True       6713
Name: NewPrice, dtype: int64

NewIndex
False    127695
True       6713
Name: NewIndex, dtype: int64

New1m%Change
False    127285
True       7123
Name: New1m%Change, dtype: int64

New12m%Change
False    122799
True      11609
Name: New12m%Change, dtype: int64

NewSalesVolume
False    127307
True       7101
Name: NewSalesVolume, dtype: int64

OldPrice
False    127698
True       6710
Name: OldPrice, dtype: int64

OldIndex
False    127698
True       6710
Name: OldIndex, dtype: int64

Old1m%Change
False    127288
True       7120
Name: Old1m%Change, dtype: int64

Old12m%Change
False    122802
True      11606
Name: Old12m%Change, dtype: int64

OldSalesVolume
False    127684
True       6724
Name: OldSalesVolume, dtype: int64

In [7]:
# computation and printing of each column's unique values
print(df1.nunique())

Date                         644
RegionName                   421
AreaCode                     421
AveragePrice              130328
Index                     129904
IndexSA                     4494
1m%Change                 129760
12m%Change                125483
AveragePriceSA              4509
SalesVolume                 7692
DetachedPrice             128034
DetachedIndex             127627
Detached1m%Change         127629
Detached12m%Change        123149
SemiDetachedPrice         128047
SemiDetachedIndex         127640
SemiDetached1m%Change     127641
SemiDetached12m%Change    123160
TerracedPrice             128075
TerracedIndex             127668
Terraced1m%Change         127661
Terraced12m%Change        123187
FlatPrice                 128311
FlatIndex                 127901
Flat1m%Change             127901
Flat12m%Change            123422
CashPrice                  48542
CashIndex                  48132
Cash1m%Change              48135
Cash12m%Change             43657
CashSalesVolume             2306
MortgagePrice              48541
MortgageIndex              48134
Mortgage1m%Change          48135
Mortgage12m%Change         43657
MortgageSalesVolume         3323
FTBPrice                   48938
FTBIndex                   48531
FTB1m%Change               48531
FTB12m%Change              44051
FOOPrice                   48542
FOOIndex                   48135
FOO1m%Change               48134
FOO12m%Change              43655
NewPrice                  127551
NewIndex                  127140
New1m%Change              127131
New12m%Change             122639
NewSalesVolume              2648
OldPrice                  127552
OldIndex                  127144
Old1m%Change              127143
Old12m%Change             122653
OldSalesVolume              7083
dtype: int64

In [8]:
# filtering out the relevant columns for our analysis
samplehpi = df1.filter([ 'Date', 'RegionName', 'AveragePrice' ,
                        'Index', 'IndexSA', '1m%Change', '12m%Change',
                        'AveragePriceSA', 'AreaCode', 'SalesVolume', 'DetachedPrice', 
                        'DetachedIndex', 'SemiDetachedPrice', 'TerracedPrice', 
                        'FlatPrice', 'FlatIndex', 'CashPrice', 'CashSalesVolume',
                        'MortgageSalesVolume', 'FTBPrice', 'FOOPrice', 
                        'NewPrice', 'NewSalesVolume', 'OldPrice', 
                        'OldSalesVolume'], axis = 1)   

# Convert the 'Date' column to date format from string
samplehpi['Date'] = pd.to_datetime(samplehpi['Date'], format = '%d/%m/%Y')

In [9]:
# Determining the number of missing values
missing_data = samplehpi.isnull()
missing_data.head(5)
# Determine the number of missing values for each column
for column in missing_data.columns.values.tolist():
    print(column)
    print(missing_data[column].value_counts())
    print("")

Date
False    134408
Name: Date, dtype: int64

RegionName
False    134408
Name: RegionName, dtype: int64

AveragePrice
False    134408
Name: AveragePrice, dtype: int64

Index
False    134408
Name: Index, dtype: int64

IndexSA
True     129899
False      4509
Name: IndexSA, dtype: int64

1m%Change
False    133965
True        443
Name: 1m%Change, dtype: int64

12m%Change
False    129368
True       5040
Name: 12m%Change, dtype: int64

AveragePriceSA
True     129899
False      4509
Name: AveragePriceSA, dtype: int64

AreaCode
False    134408
Name: AreaCode, dtype: int64

SalesVolume
False    129909
True       4499
Name: SalesVolume, dtype: int64

DetachedPrice
False    128184
True       6224
Name: DetachedPrice, dtype: int64

DetachedIndex
False    128184
True       6224
Name: DetachedIndex, dtype: int64

SemiDetachedPrice
False    128195
True       6213
Name: SemiDetachedPrice, dtype: int64

TerracedPrice
False    128222
True       6186
Name: TerracedPrice, dtype: int64

FlatPrice
False    128518
True       5890
Name: FlatPrice, dtype: int64

FlatIndex
False    128518
True       5890
Name: FlatIndex, dtype: int64

CashPrice
True     85856
False    48552
Name: CashPrice, dtype: int64

CashSalesVolume
True     86673
False    47735
Name: CashSalesVolume, dtype: int64

MortgageSalesVolume
True     86672
False    47736
Name: MortgageSalesVolume, dtype: int64

FTBPrice
True     85460
False    48948
Name: FTBPrice, dtype: int64

FOOPrice
True     85856
False    48552
Name: FOOPrice, dtype: int64

NewPrice
False    127695
True       6713
Name: NewPrice, dtype: int64

NewSalesVolume
False    127307
True       7101
Name: NewSalesVolume, dtype: int64

OldPrice
False    127698
True       6710
Name: OldPrice, dtype: int64

OldSalesVolume
False    127684
True       6724
Name: OldSalesVolume, dtype: int64

In [10]:
#confirm that the types are appropriate
samplehpi.dtypes

Date                   datetime64[ns]
RegionName                     object
AveragePrice                  float64
Index                         float64
IndexSA                       float64
1m%Change                     float64
12m%Change                    float64
AveragePriceSA                float64
AreaCode                       object
SalesVolume                   float64
DetachedPrice                 float64
DetachedIndex                 float64
SemiDetachedPrice             float64
TerracedPrice                 float64
FlatPrice                     float64
FlatIndex                     float64
CashPrice                     float64
CashSalesVolume               float64
MortgageSalesVolume           float64
FTBPrice                      float64
FOOPrice                      float64
NewPrice                      float64
NewSalesVolume                float64
OldPrice                      float64
OldSalesVolume                float64
dtype: object

In [11]:
# Describe the data
samplehpi.describe()

,AveragePrice,Index,IndexSA,1m%Change,12m%Change,AveragePriceSA,SalesVolume,DetachedPrice,DetachedIndex,SemiDetachedPrice,...,FlatIndex,CashPrice,CashSalesVolume,MortgageSalesVolume,FTBPrice,FOOPrice,NewPrice,NewSalesVolume,OldPrice,OldSalesVolume
count,1.344080e+05,134408.000000,4509.000000,133965.000000,129368.000000,4509.000000,129909.000000,1.281840e+05,128184.000000,1.281950e+05,...,128518.000000,4.855200e+04,47735.000000,47736.000000,4.894800e+04,4.855200e+04,1.276950e+05,127307.000000,1.276980e+05,127684.000000
mean,1.655657e+05,80.129701,82.661908,0.575503,6.564140,156208.358568,1213.812738,2.915442e+05,81.524398,1.865575e+05,...,83.610843,2.276317e+05,319.274076,711.010495,1.954256e+05,2.654498e+05,1.977202e+05,128.468327,1.670588e+05,1098.803280
std,1.113781e+05,34.344136,31.516506,2.009677,8.989960,80342.040704,7570.002443,2.519487e+05,32.372276,1.925713e+05,...,31.797684,1.304980e+05,1992.654604,4416.339724,1.108994e+05,1.469446e+05,1.156410e+05,817.647263,1.103867e+05,6828.603681
min,2.712016e+03,1.096815,18.312610,-30.297781,-35.786566,40405.313840,1.000000,4.064610e+04,12.494361,2.571306e+04,...,9.865796,5.675315e+04,1.000000,0.000000,5.671877e+04,6.941035e+04,2.722990e+04,0.000000,2.278638e+04,1.000000
25%,9.281588e+04,46.116076,55.977850,-0.434652,1.428571,107128.377000,139.000000,1.619735e+05,51.262763,1.002340e+05,...,52.459373,1.416140e+05,38.000000,85.000000,1.255095e+05,1.663302e+05,1.195408e+05,9.000000,9.594737e+04,125.000000
50%,1.456601e+05,88.325823,89.742660,0.529362,5.514084,147467.017600,214.000000,2.349786e+05,87.862567,1.473026e+05,...,93.073778,1.947795e+05,59.000000,132.000000,1.661310e+05,2.256307e+05,1.818930e+05,20.000000,1.464216e+05,192.000000
75%,2.076833e+05,105.184658,105.299028,1.525831,10.782014,192154.302200,373.000000,3.385458e+05,104.426792,2.149271e+05,...,108.476138,2.730356e+05,101.000000,228.000000,2.299052e+05,3.199733e+05,2.461595e+05,44.000000,2.073887e+05,337.000000
max,1.463378e+06,221.485238,147.296789,37.734640,98.437940,520119.936500,146470.000000,4.145421e+06,197.988967,4.252416e+06,...,205.906634,1.461413e+06,51356.000000,84491.000000,1.278535e+06,1.671437e+06,1.334270e+06,21097.333330,1.479584e+06,136069.000000

In [12]:
samplehpi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134408 entries, 0 to 134407
Data columns (total 25 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Date                 134408 non-null  datetime64[ns]
 1   RegionName           134408 non-null  object
 2   AveragePrice         134408 non-null  float64
 3   Index                134408 non-null  float64
 4   IndexSA              4509 non-null    float64
 5   1m%Change            133965 non-null  float64
 6   12m%Change           129368 non-null  float64
 7   AveragePriceSA       4509 non-null    float64
 8   AreaCode             134408 non-null  object
 9   SalesVolume          129909 non-null  float64
 10  DetachedPrice        128184 non-null  float64
 11  DetachedIndex        128184 non-null  float64
 12  SemiDetachedPrice    128195 non-null  float64
 13  TerracedPrice        128222 non-null  float64
 14  FlatPrice            128518 non-null  float64
 15  FlatIndex            128518 non-null  float64
 16  CashPrice            48552 non-null   float64
 17  CashSalesVolume      47735 non-null   float64
 18  MortgageSalesVolume  47736 non-null   float64
 19  FTBPrice             48948 non-null   float64
 20  FOOPrice             48552 non-null   float64
 21  NewPrice             127695 non-null  float64
 22  NewSalesVolume       127307 non-null  float64
 23  OldPrice             127698 non-null  float64
 24  OldSalesVolume       127684 non-null  float64
dtypes: datetime64[ns](1), float64(22), object(2)
memory usage: 25.6+ MB

In [13]:
#create a new column that captures the dates as quaterly dates
samplehpi['Date'] = pd.to_datetime(samplehpi['Date'])
samplehpi["quarter"] = samplehpi['Date'].dt.to_period('Q')
samplehpi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134408 entries, 0 to 134407
Data columns (total 26 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Date                 134408 non-null  datetime64[ns]
 1   RegionName           134408 non-null  object
 2   AveragePrice         134408 non-null  float64
 3   Index                134408 non-null  float64
 4   IndexSA              4509 non-null    float64
 5   1m%Change            133965 non-null  float64
 6   12m%Change           129368 non-null  float64
 7   AveragePriceSA       4509 non-null    float64
 8   AreaCode             134408 non-null  object
 9   SalesVolume          129909 non-null  float64
 10  DetachedPrice        128184 non-null  float64
 11  DetachedIndex        128184 non-null  float64
 12  SemiDetachedPrice    128195 non-null  float64
 13  TerracedPrice        128222 non-null  float64
 14  FlatPrice            128518 non-null  float64
 15  FlatIndex            128518 non-null  float64
 16  CashPrice            48552 non-null   float64
 17  CashSalesVolume      47735 non-null   float64
 18  MortgageSalesVolume  47736 non-null   float64
 19  FTBPrice             48948 non-null   float64
 20  FOOPrice             48552 non-null   float64
 21  NewPrice             127695 non-null  float64
 22  NewSalesVolume       127307 non-null  float64
 23  OldPrice             127698 non-null  float64
 24  OldSalesVolume       127684 non-null  float64
 25  quarter              134408 non-null  period[Q-DEC]
dtypes: datetime64[ns](1), float64(22), object(2), period[Q-DEC](1)
memory usage: 26.7+ MB

In [14]:
# Drop the Date column 
#samplehpi.drop(labels=["Date"], axis=1)

In [15]:
#Save the file
from pathlib import Path
filepath = Path('folder/subfolder/out.csv')
filepath.parent.mkdir(parents=True, exist_ok=True)
samplehpi.to_csv(filepath)

In [16]:
# save to csv
samplehpi.to_csv('semiclean_df.csv')

In [17]:
# retrieve the 4499 rows with missing sales volume
missing_salesvolume = samplehpi[samplehpi['SalesVolume'].isnull()]
missing_salesvolume

,Date,RegionName,AveragePrice,Index,IndexSA,1m%Change,12m%Change,AveragePriceSA,AreaCode,SalesVolume,...,CashPrice,CashSalesVolume,MortgageSalesVolume,FTBPrice,FOOPrice,NewPrice,NewSalesVolume,OldPrice,OldSalesVolume,quarter
213,2021-10-01,Aberdeenshire,197530.04880,98.807045,NaN,-0.205541,8.816871,NaN,S12000034,NaN,...,183408.2097,NaN,NaN,154962.8595,227849.0581,NaN,NaN,NaN,NaN,2021Q4
214,2021-11-01,Aberdeenshire,198400.07340,99.242243,NaN,0.440452,8.134304,NaN,S12000034,NaN,...,184228.1430,NaN,NaN,155425.9501,229096.6051,NaN,NaN,NaN,NaN,2021Q4
536,2021-10-01,Adur,369560.45660,148.027885,NaN,3.751437,13.597513,NaN,E07000223,NaN,...,363034.9027,NaN,NaN,309610.3560,411148.6922,NaN,NaN,NaN,NaN,2021Q4
537,2021-11-01,Adur,371736.33510,148.899436,NaN,0.588775,13.685015,NaN,E07000223,NaN,...,364752.6815,NaN,NaN,311230.0975,413799.8513,NaN,NaN,NaN,NaN,2021Q4
859,2021-10-01,Allerdale,168091.66260,124.056300,NaN,2.102296,7.985700,NaN,E07000026,NaN,...,158935.2330,NaN,NaN,144620.0216,188232.7567,NaN,NaN,NaN,NaN,2021Q4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134082,1994-10-01,Yorkshire and The Humber,46777.22825,34.352405,NaN,0.513347,-0.305499,NaN,E12000003,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1994Q4
134083,1994-11-01,Yorkshire and The Humber,46777.22825,34.352405,NaN,0.513347,-0.305499,NaN,E12000003,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1994Q4
134084,1994-12-01,Yorkshire and The Humber,46777.22825,34.352405,NaN,0.513347,-0.305499,NaN,E12000003,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1994Q4
134406,2021-10-01,Yorkshire and The Humber,189185.24030,138.934450,136.417340,-4.223871,8.502788,185757.7245,E12000003,NaN,...,180145.7633,NaN,NaN,160740.2521,214825.5943,NaN,NaN,NaN,NaN,2021Q4
134407,2021-11-01,Yorkshire and The Humber,191035.89780,140.293541,137.999888,0.978225,7.236280,187912.6594,E12000003,NaN,...,181362.8680,NaN,NaN,162470.1457,216712.6752,NaN,NaN,NaN,NaN,2021Q4

In [18]:
#attempts to use dictionary value pairs of regionName to replace missing sales volume cells
h= samplehpi.groupby('RegionName')['SalesVolume'].mean()
l= list(samplehpi['RegionName'].unique())
d= dict(zip(l,h))

In [19]:
# Replacing the missing SalesVolume values with the average of the regions the belong to
#samplehpi['SalesVolume'] = samplehpi['SalesVolume'].apply(lambda x: x if x == x else d[l] for samplehpi['SalesVolume']==d.keys())

In [20]:
#Replace 12m%change NaN with average values(same with 1m% change, )
avg_change_12m = samplehpi['12m%Change'].astype('float').mean(axis=0)
avg_change_1m = samplehpi['1m%Change'].astype('float').mean(axis=0)
avg_SalesVolume = samplehpi['SalesVolume'].astype('float').mean(axis=0)
avg_NewPrice = samplehpi['NewPrice'].astype('float').mean(axis=0)
avg_NewSalesVolume = samplehpi['NewSalesVolume'].astype('float').mean(axis=0)
avg_OldPrice = samplehpi['OldPrice'].astype('float').mean(axis=0)
avg_OldSalesVolume = samplehpi['OldSalesVolume'].astype('float').mean(axis=0)

samplehpi['12m%Change'].replace(np.nan, avg_change_12m, inplace = True)
samplehpi['1m%Change'].replace(np.nan, avg_change_1m, inplace = True)
samplehpi['SalesVolume'].replace(np.nan, avg_SalesVolume, inplace = True)
samplehpi['NewPrice'].replace(np.nan, avg_NewPrice, inplace = True)
samplehpi['NewSalesVolume'].replace(np.nan, avg_NewSalesVolume, inplace = True)
samplehpi['OldPrice'].replace(np.nan, avg_NewSalesVolume, inplace = True)
samplehpi['OldSalesVolume'].replace(np.nan, avg_OldSalesVolume, inplace = True)    



#drop the averageSA(so many missing values without correlation to any other cell)
samplehpi.drop(["AveragePriceSA"], axis=1, inplace=True)


# Replacing the NaN cells with corresponding cells in Index
samplehpi.IndexSA.fillna(samplehpi.Index, inplace=True)

#drop the rows without values on DetachedPrice
samplehpi.dropna(subset=['DetachedPrice'], axis=0, inplace=True)

In [21]:
#samplehpi.info()

In [22]:
# save to csv
samplehpi.to_csv('semiclean_df1.csv')